/*
 * Description: Makes the activity stream page look decent with the dark theme.
 *
 * Screenshot: https://imgur.com/a/WcxGk
 *
 * Contributor(s): Andrei Cristian Petcu
 */

browser {
  background-color: #474749 !important;
}

#sidebar {
  background-color: white !important;
}

.sidebar-placesTree {
  background-color: white !important;
}

#sidebar {
        background-color: white !important;
}

.sidebar-placesTree {
        background-color: white !important;
}
