/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * This style will hide the tab bar and merge the title bar with the navigation bar. For Windows
 * Make sure "Title Bar" is unchecked in customize menu.
 *
 * Contributor(s): Ivan0xFF
 */

#TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}

#nav-bar {
  margin-top: -40px;
  margin-right: 140px;
  box-shadow: none !important;
}

#main-window[privatebrowsingmode="temporary"] #nav-bar {
  margin-right: 180px;
}

[uidensity="compact"]:root #nav-bar {
  margin-top: -32px;
}

:not([uidensity="compact"]):root .titlebar-buttonbox-container {
  height: 38px !important;
}

.titlebar-color {
  background-color: var(--toolbar-bgcolor) !important;
}
