/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This style will hide the tab bar.  For MacOS*/

#TabsToolbar {
  height: 22px !important;
  visibility: collapse;
}
.tabbrowser-tabs {
  height: 22px !important;
  visibility: collapse;
}
#tabbrowser-tabs {
  visibility: collapse;
  height: 22px !important;
}
#nav-bar{
  border-top-width: 0px !important;
  padding: 0px 5px 0px 75px !important; /*The 75px is a fix for MacOS to make room for the window controls*/
  /*margin-top: -5px !important; This is a dumb hack to get rid of the "collapsed" tab bar that still shows up.  This only seems to affect pre-57 versions, unnecessary for 57+*/
}

/*position window controls.  Only for MacOS*/
#titlebar-buttonbox-container {
  margin-left: 5px !important;
  margin-top: 10.5px !important;
}
