/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * This style will hide the tab bar. For MacOS
 *
 * Contributor(s): Isaac-Newt, Ivan0xFF
 */

#TabsToolbar {
  height: 22px !important;
  visibility: collapse;
}

.tabbrowser-tabs {
  height: 22px !important;
  visibility: collapse;
}

#tabbrowser-tabs {
  visibility: collapse;
  height: 22px !important;
}

#nav-bar{
  border-top-width: 0px !important;
}

/* Position window controls */
#titlebar-buttonbox-container {
  margin-left: 5px !important;
  margin-top: 5px !important;
}

/*
 * Make room for window controls.
 * Only apply this style when not in fullscreen mode.
 */
#main-window:not([inFullscreen]) #nav-bar{
  padding: 0px 5px 0px 75px !important;
}
