/* 
* Makes tabs only 22px high rather than the default 29px
* Only works on compact mode, otherwise tab height will be normal
*
* Contributor(s): DrPugsley
*/

@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@-moz-document url("chrome://browser/content/browser.xul") {

  [uidensity="compact"]:root {
    --tab-min-height: 22px !important;
    --newtab-margin: -3px 0 -3px -3px !important;
  }

  .tabbrowser-tab {
    max-height: var(--tab-min-height) !important;
  }

  .tabs-newtab-button{
    margin: var(--newtab-margin) !important;
  }

}

