/*
 * Description: Moves the sound indicator to the left of the tab, shrinks it a little and overlays the favicon
 *
 * Screenshot: https://i.imgur.com/XVyGNMG.png
 *
 * Contributor(s): BubiBalboa via reddit.com/user/marciiF
 */


.tab-icon-sound {
  -moz-box-ordinal-group: 0 !important;
  border-radius: 50% !important;
  margin: initial !important;
  margin-right: -16px !important;
  opacity: 1 !important;
  transform: translate(35%, -35%) !important;
}

.tab-icon-sound:hover {
  background-color: var(--toolbar-bgcolor) !important;
}

.tab-close-button {
  -moz-box-ordinal-group: 2 !important;
}

.tab-icon-sound[soundplaying] {
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-small.svg#tab-audio") !important;
}

.tab-icon-sound[muted] {
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-small.svg#tab-audio-muted") !important;
}

.tab-icon-sound[activemedia-blocked] {
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-small.svg#tab-audio-blocked") !important;
}

.tab-icon-sound[soundplaying]:-moz-lwtheme-brighttext {
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-small.svg#tab-audio-white") !important;
}

.tab-icon-sound[muted]:-moz-lwtheme-brighttext {
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-small.svg#tab-audio-white-muted") !important;
}

.tab-icon-sound[activemedia-blocked]:-moz-lwtheme-brighttext {
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-small.svg#tab-audio-white-blocked") !important;
}
