/*
 * Description: Auto-hide sidebar.
 *
 * Contributor(s): img2tab
 */


/*
 * #sidebar-box specifies the cursor distance from the edge for the sidebar to become visible. (default: 10px)
 * #sidebar-box:hover specifies the sidebar's width when visible. (default: 200px) 
 * If the sidebar is right-aligned replace "left" with "right", and "margin-right" with "margin-left"
 * Mind that "margin-right" is negatiive.
 * #sidebar-header is always hidden, remove line 41 to restore it.
 * The divider between the sidebar and the rest of the browser can be customized with #sidebar-splitter.
 */

#sidebar-box {
    position:   relative !important;
    overflow-x:   hidden !important;
    margin-right:  -10px !important;
    left:           10px !important;
    min-width:      10px !important;
    max-width:      10px !important;
}

#sidebar-box:hover {
    margin-right: -200px !important;
    left:          200px !important;
    min-width:     200px !important;
    max-width:     200px !important;
}

#sidebar {
    opacity: 0 !important;
}

#sidebar:hover {
    opacity: 1 !important;
}

#sidebar-header {
    display: none !important;
}

#sidebar-splitter {
}
