/*
 * Place the navigation bar in the front of the tab bar (Linux)
 * Remove toolbar spacers before usage. The left toolbar area will fit 3 buttons by default.
 *
 * Contributor(s): Madis0
 */

/* Static values only depending on touch density */
:root[uidensity=compact] {
  --nav-margin-top: -2em;
  --menu-margin-top: 0.1em;
}

:root[uidensity=touch] {
  --nav-margin-top: -2.6em;
  --menu-margin-top: 0.35em;
}

:root {
  --nav-margin-top: -2.2em;
  --menu-margin-top: 0.35em;
}

/* Adjust tab bar to get space first */
#TabsToolbar {
  padding-left: 37em !important; /* Add specific padding to left */
  margin-bottom: -0.1em !important; 
}

/* Move nav bar to top left */
#nav-bar {
  margin-top: var(--nav-margin-top) !important; /* Move nav bar up */
  margin-right: 72.5em !important; /* Cut it off with defined width */
}

/* Move menu button to top right */
#PanelUI-button {
  position: fixed; /* Fixed position for menu */
  top: var(--menu-margin-top); /* Add some margin to top */
  right: 2em; /* Move it to right side (adjust for caption buttons) */
  border-left: none !important; /* Remove menu border */
}
