/*
 * Place the navigation bar in the front of the tab bar (Linux)
 *
 * Contributor(s): Madis0
 */

/* Compact density */
:root[uidensity=compact] {
  --tabs-margin-left: 5.5em;
  --tabs-padding-left: 34.5em;
  --tabs-margin-right: 2em;
 
  --nav-margin-top: -2em;
  --nav-margin-right: 60vw;
  --nav-margin-bottom: -0.3em;

  --menu-margin-top: 0.05em;
  --menu-margin-right: 0em;
}

/* Touch density */
:root[uidensity=touch] {
  --tabs-margin-left: 7.5em;
  --tabs-padding-left: 34em;
  --tabs-margin-right: 2.3em;
 
  --nav-margin-top: -2.5em;
  --nav-margin-right: 60vw;
  --nav-margin-bottom: -0.3em;

  --menu-margin-top: 0.1em;
  --menu-margin-right: 0em;
}

/* Normal density */
:root {
  --tabs-margin-left: 6.4em;
  --tabs-padding-left: 34em;
  --tabs-margin-right: 2em;
 
  --nav-margin-top: -2.3em;
  --nav-margin-right: 60vw;
  --nav-margin-bottom: -0.3em;

  --menu-margin-top: 0.15em;
  --menu-margin-right: 0em;
}

/* Adjust tab bar to get space first */

#TabsToolbar {
    margin-left: var(--tabs-margin-left) !important; /* Keep margin for button background */
    padding-left: var(--tabs-padding-left) !important; /* Left margin for nav bar */
    margin-right: var(--tabs-margin-right) !important; /* Right margin for caption button, menu */
    margin-bottom: -0.1em; !important; /* Remove bottom border */
}

/* Move nav bar to top left */

#nav-bar {
    margin-top: var(--nav-margin-top) !important; /* Move nav bar up */
    margin-right: var(--nav-margin-right) !important; /* Cut it off with defined width */
    margin-bottom: var(--nav-margin-bottom) !important; /* Remove bottom border */
    background-color: transparent !important; /* Make it use tab bar colors */
}

/* Move menu button to top right */

#PanelUI-button {
    position: fixed; /* Fixed position for menu */
    top: var(--menu-margin-top); /* Add some margin to top */
    right: var(--menu-margin-right); /* Move it to right side (adjust for caption buttons) */
    border-left: none !important; /* Remove menu border */
}
