/*
 * Move the identity icon and SSL lock to the right of the location bar
 *
 * Contributor(s): Madis0
 */

#urlbar > #identity-box
{
  -moz-box-ordinal-group: 2 !important; /* Move identity box to the right */
}

.urlbar-input-box
{
  margin-left: 0.5em !important; /* Add some margin back to left of urlbar to make it prettier */
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity,
#urlbar[pageproxystate="valid"] > #identity-box.chromeUI, 
#urlbar[pageproxystate="valid"] > #identity-box.extensionPage, 
#urlbar-display-box {
  margin-inline-end: 0em !important; /* Remove the margin at the end for EV SSL, addons, internal */
  border-inline-end: none !important; /* Remove the border at the end EV SSL, addons, internal */
}

/* Fix autocomplete item display */
#PopupAutoCompleteRichResult .ac-site-icon,
#PopupAutoCompleteRichResult .ac-type-icon 
{
  margin-left: 300em !important;
  margin-right: -294em !important;
}
