/*
 * Move the identity icon and SSL lock to the end of the address bar, 
 * move/adjust the 3-dot page action button to make it look better
 *
 * Contributor(s): Madis0, Mart3323
 */

#PopupAutoCompleteRichResult .autocomplete-richlistitem {
  padding-inline-start: var(--item-padding-end) !important;
}

#urlbar > #identity-box
{
  -moz-box-ordinal-group: 99 !important; /* Move identity box to the end */
  border-inline-end: none !important; /* Remove any right borders from it (internal pages, EV SSL) */
  margin-inline-end: 0em !important; /* Remove the end margin */
  margin-inline-start: -0.2em !important; /* Remove the start margin */
}

#urlbar > #page-action-buttons > #pageActionButton {
  -moz-box-ordinal-group: 99 !important; /* Move the 3-dot page action button to the rightmost of page action icons */
}

.urlbar-input-box
{
  margin-left: 0.5em !important; /* Add some margin back to left of urlbar to make it prettier */
} /* If you're using reload-button-addressbar-left.css, set the value to 2em. */
