/*
 * Removes the "PageAction Button", the 3-dot button near the right of the
 * urlbar which gives you options such as: "Bookmark this page", "Save page to
 * pocket", etc.
 *
 * Contributor(s): DrPugsley, Madis0
 */

#pageActionButton {
  display: none !important;
}
