/*
 * Moves the reload button inside the address bar, on the left. 
 * Requires placing the reload button directly to the left of the address bar.
 * For better looks across platforms you may need to adjust the margins a bit.
 * Contributor(s): Madis0, Admicos
 * https://github.com/Timvde/UserChrome-Tweaks/pull/47
 */

#stop-reload-button {
  transform: translate(0.4em); /* Makes the reload button "float" 0.3 em to the right */
}

#urlbar-container {
  margin-left: -1.95em; /* Makes the address bar "move" under reload button to the left */
}

#identity-box {
  margin-left: 1.4em; /* Adds some margin to the identity box to create space for the reload button */
}
