/*
 * Creates a separator to the right side of the PageAction menu button.
 * It is recommended to hide the original too and place something to the right of the menu to make the separator actually useful.
 * For example, these styles work well:
 * https://github.com/Timvde/UserChrome-Tweaks/blob/master/navbar/move-identity-lock-right.css
 * https://github.com/Timvde/UserChrome-Tweaks/blob/master/navbar/hide-pageaction-separator.css
 *
 * Contributor(s): Madis0
 */

#urlbar > #page-action-buttons > #pageActionButton {
  border-inline-end: 1px solid var(--urlbar-separator-color); /* Add a permanent border (separator) to the right of it */
  border-image: linear-gradient(transparent 15%, var(--urlbar-separator-color) 15%, var(--urlbar-separator-color) 85%, transparent 85%); /* Separator properties like original */
  border-image-slice: 1; /* Don't make it full-height */
}
