/*
 * Remove the "Sign in to sync" from top of photon hamburger menu.
 *
 * Contributor(s): PilzAdam
 */

#appMenu-fxa-container, #appMenu-fxa-container + toolbarseparator {
  display: none !important;
}
